<div id="root">
    <!-- 数据模型必须在页面显示，才能触发updated 但是又不想将模型数据在页面显示-->
    <p style="display: none;">{{title}}{{data}}</p>  
    <div ref="main" style="width: 600px;height:400px;"></div>
    <button @click='btnfn'>更新</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2/dist/echarts.min.js"></script>
<script>
    const vm = new Vue({
        el: "#root",
        data: {
            title: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"],
            data: [5, 20, 36, 10, 10, 20]
        },
        mounted() {
            this.iinitfn()
            console.log(3);
        },
        updated(){
            this.iinitfn()
            console.log(2);
        },
        methods: {
            btnfn() {
                this.title = ["一月", "二月", "三月", "四月", "无月", "六月"],
                    this.data = [15, 10, 16, 10, 70, 20]
            },
            iinitfn() {
                var myChart = echarts.init(this.$refs.main);
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: 'ECharts 入门示例'
                },
                tooltip: {},
                legend: {
                    data: ['销量']
                },
                xAxis: {
                    // data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
                    data: this.title
                },
                yAxis: {},
                series: [{
                    name: '销量',
                    type: 'bar',
                    // data: [5, 20, 36, 10, 10, 20]
                    data: this.data
                }]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
            }
        }
    })
</script>